.Author {
    font-weight: bold;
    color: #64edff;
    margin-right: 8px;
}

.Date {
    font-weight: lighter;
    color: #c1c1c5;
}

.CommentText {
    word-break: break-word;
    overflow-wrap: anywhere;
    white-space: pre-wrap;
}