/* MoreDropdown.module.css */

.DropdownMenu {
    background-color: #1a1a1a;
    border: 1px solid #444;
    border-radius: 8px;
    padding: 0.5rem;
}

.DropdownItem {
    color: #00ffff;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
}

.DropdownItem:hover {
    background-color: #333;
    color: #00ffcc;
    cursor: pointer;
}

.DropdownToggle {
    color: #00ffff;
}

.Absolute {
    position: absolute;
    right: 0;
    z-index: 99;
}